

{% extends 'events/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card custom-card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login Here!</h2>
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-custom me-2 w-100">Login</button>
                    </form>
<br>
                        <a href="{% url 'signup' %}" class="btn btn-custom me-2 w-100">Dont have account? Sign Up Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


