{% extends 'events/base.html' %}
{% block title %}FilmPoint Survey{% endblock %}

{% block content %}
    
<h1 class="text-center"> This is FilmPoint!</h1>
    <h1 class="text-center"> Let us entertain you!</h1>

    {% if user.is_authenticated %}

        <div class="centered-button-container">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-custom me-2 w-200" onclick="location.href='/survey'">Start here!</button>
        </div>
 </div>

    {% else %}
        <div>
        <h1 class="text-center"> To continue, please log in or register! </h1>
        </div>

    {% endif %}




{% endblock %}

