<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation Survey 2</title>
    <link rel="stylesheet" href="styles_filmpoint.css">
    <script src="scripts_filmpoint.js"></script>

</head>
<body>

    <div class="container" id="movie_survey2">
        <h1>Which era of movie magic tickles your fancy?</h1>
        <div class="btn-group">
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">1920s - silent spice</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">1950-1979 - golden oldies</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">1980-1989 - cult classics</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">1990-1999 - nostalgic hits</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">2000-2019 - millennial magic</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey3.html'">2020+ - modern marvels</button>

        </div>

        <div class="logo-container">
            <img src="img_filmpoint/TMDB_logo.svg" alt="TMDB Logo" class="tmdb-logo">
        </div>
    </div>

</body>
</html>
