<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation Survey 1</title>
    <link rel="stylesheet" href="styles_filmpoint.css">
    <script src="scripts_filmpoint.js"></script>

</head>
<body>

    <div class="container" id="movie_survey1">
        <h1>If movies were food, which flavor are you craving tonight?</h1>
        <div class="btn-group">
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Action - Spicy and thrilling!</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Comedy - Sweet and delightful!</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Drama - Rich and full-bodied!</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Horror - Bitter and bone-chilling!</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Romance - Sweet with a hint of spice!</button>
            <button class="button-53" role="button" onclick="location.href='movie_survey2.html'">Sci-Fi - Zesty and out-of-this-world!</button>

        </div>

        <div class="logo-container">
            <img src="img_filmpoint/TMDB_logo.svg" alt="TMDB Logo" class="tmdb-logo">
        </div>
    </div>

</body>
</html>
