<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation Survey 3</title>
    <link rel="stylesheet" href="styles_filmpoint.css">
    <script src="scripts_filmpoint.js"></script>

</head>
<body>

    <div class="container" id="movie_survey2">
        <h1>Which film industry produces your favorite cinematic gems?</h1>
        <div class="btn-group">
            <button class="button-53" role="button">Hollywood and its many USA buddies</button>
            <button class="button-53" role="button">Bollywood (India)</button>
            <button class="button-53" role="button">European Studios</button>
            <button class="button-53" role="button">Asian Studios (excluding Bollywood)</button>
            <button class="button-53" role="button">Latin American Studios</button>
            <button class="button-53" role="button">I don’t care, as long as it’s good!</button>
        </div>
    </div>



        <div class="logo-container">
            <img src="img_filmpoint/TMDB_logo.svg" alt="TMDB Logo" class="tmdb-logo">
        </div>
    </div>

</body>
</html>
