<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation Survey 1</title>
    <link rel="stylesheet" href="{% static 'film-point/styles_filmpoint.css' %}">
    <script src="scripts.js"></script>

</head>
<body>
<div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <table>{{ GenreForm }}</table>
    <button type="submit">Next</button>
</form>
</div>

<div class="logo-container">
    <img src="{% static '/film-point/TMDB_logo.svg' %}" alt="TMDB Logo" class="tmdb-logo">
</div>


</body>
</html>
