{% extends 'events/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1>User Profile</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm" style="background-color: rgba(255, 255, 255, 0.3); border: none;">
                <div class="card-body">

            <h2>Personal Information</h2>
            <p><strong>Name:</strong> {{ user_name }}</p>
            <p><strong>Date of Birth:</strong> {{ user_dob }}</p>
        </div>
    </div>
</div>
</div>
</div>

       <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm" style="background-color: rgba(255, 255, 255, 0.3); border: none;">
                <div class="card-body">
            <h2>Watching List</h2>
            <ul class="movie-list">
                <li>
                    <span class="movie-title"><b>Movie Title 1 </b></span>
                    <br>
                    <span class="movie-info">Additional info about the movie...</span>
                </li>
                <li>
                    <span class="movie-title"><b>Movie Title 2</b></span>
                    <br>
                    <span class="movie-info">Additional info about the movie...</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>

        <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm" style="background-color: rgba(255, 255, 255, 0.3); border: none;">
                <div class="card-body">
            <h2>Reviews</h2>
            <ul class="review-list">
                <li>
                    <span class="review-title"><b>Review of Movie Title 1</b></span>
                    <br>
                    <span class="review-text">This movie was amazing because...</span>
                </li>
                <li>
                    <span class="review-title"><b>Review of Movie Title 2</b></span>
                    <br>
                    <span class="review-text">I didn't like this movie because...</span>
                </li>
            </ul>
        </div>
     </div>
</div>
</div>
</div>

{% endblock %}
